/* Remove o sublinhado das abreviações dos dias da semana */
.react-calendar__month-view__weekdays__weekday abbr {
    text-decoration: none !important;
    border-bottom: none !important;
    cursor: default;
}




/* Espaçamento na linha de cabeçalho (dias da semana) */
.react-calendar__month-view__weekdays {
    margin-bottom: 8px;
    /* espaço entre cabeçalho (dias da semana) e dias */
    text-align: center;
    font-size: large;
}

/* Cada “célula” do cabeçalho (T, Q, Q, etc.) */
.react-calendar__month-view__weekdays__weekday {
    text-align: center;
    /* centraliza o texto de cada dia da semana */
    padding: 0 8px;
    /* espaça horizontalmente */
}

/* Espaçamento entre as “tiles” (dias do mês) */
.react-calendar__tile {
    color: #9ca3af;
    /* cor do texto para os dias */
    padding: 8px;
    /* espaço interno (mais “folga” no quadradinho) */
    border-radius: 4px;
}

/* Sutil mudança de cor ao passar o mouse (opcional) */

/* 
    CENTRALIZANDO O TÍTULO DO MÊS/ANO:
    Forçamos a navegação (setas e label) a se alinhar ao centro.
  */
.react-calendar__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Deixa tudo no centro horizontal */
    margin-bottom: 16px;
}

/* 
    Caso queira dar um espaço nas setinhas (botões de navegação), 
    você pode definir margens para eles:
  */
.react-calendar__navigation button {
    margin: 0 8px;
}

/* 
    Aumentamos a fonte e deixamos em bold no label do mês/ano 
    (separado da classe 'weekday' para evitar conflitos)
  */
.react-calendar__navigation__label {
    text-align: center;
    font-size: 1.25rem;
    /* ou o tamanho que preferir */
    font-weight: bold;
    cursor: default !important;
}

/*
    AUMENTANDO A ALTURA MÍNIMA DO CALENDÁRIO:
    (para que ele fique mais alto e tenha mais “respiro”)
  */
.react-calendar {
    width: 100%;
}


/* Estiliza os dias pré-selecionados */
.marked-date {
    background-color: #ffd86e !important;
    /* Cor de destaque */
    color: #000 !important;
    /* Texto preto para contraste */
    border-radius: 4px;
    /* Arredondamento opcional */
    font-weight: bold;
}

/* Opcional: efeito ao passar o mouse */
.marked-date:hover {
    background-color: #ffcc4d !important;
}